@import "tailwindcss";

:root {
    --primary-color: #4B4376;
    --secondary-color: #AE445A;
    --header-bg: #432E54;
    --footer-bg:#2C2C2C;
    --button-bg:#E8BCB9;
  }
  
 
  
  button {
    background-color: var(--button-bg);
   
  }